.clearfix
- @sources.each do |source|
  .col-md-4
    %video{:controls => "", :width => "100%", :autoplay => ""}
      %source{:src => "#{ENV["CCTV_SERVER"]}/cam#{source}.webm", :type => "video/webm"}
      Your browser does not support the video tag.
    / .videocontent
    /   %video.video-js.vjs-default-skin.vjs-16-9{:id => "video#{source}", :controls => "", "data-setup" => '{"autoplay": true}', :preload => "auto", :width => "100%"}
    /     / %source{:src => "#{ENV["CCTV_SERVER"]}/cam#{source}.flv", :type => "video/x-flv"}
    /     %source{:src => "http://192.168.1.186:8090/cam#{source}.webm", :type => "video/webm"}
